<body>
  <h1>My Playlist</h1>
  <p><a href="https://wa.me/6282243199535?text=Tambahin%20lagu%20favorit%20gw%20ke%20playlist%20lo%20dong%20ganteng"
      target="_blank">Contact
      Me</a> if you want to add your favourite songs here :)</p>

  <div class="music-container" id="music-container">
    <div class="music-info">
      <h4 id="title"></h4>
      <div class="progress-container" id="progress-container">
        <div class="progress" id="progress"></div>
      </div>
    </div>

    <audio src="music/whoyou.mp3" id="audio"></audio>

    <div class="img-container">
      <img src="images/whoyou.jpg" alt="music-cover" id="cover" />
    </div>
    <div class="navigation">
      <button id="prev" class="action-btn">
        <i class="fas fa-backward"></i>
      </button>
      <button id="play" class="action-btn action-btn-big">
        <i class="fas fa-play"></i>
      </button>
      <button id="next" class="action-btn">
        <i class="fas fa-forward"></i>
      </button>
    </div>
  </div>

  <script src="/javascripts/script.js"></script>
</body>